  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,
  body{
    height: 100%;
    width: 100%;
    /*height: 1214px;*/
    background-color: #999999;
    background-color: #333333;
    background-image: url("/prototype.2024/images/webColor_pal.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 16px;
  }
  
  @font-face {
    font-family: roboL;
    src: url(/css/Roboto/Roboto-Light.ttf);
  }
  @font-face {
    font-family: roboB;
    src: url(/css/Roboto/Roboto-Bold.ttf);
  }
  @font-face {
    font-family: roboBI;
    src: url(/css/Roboto/Roboto-BoldItalic.ttf);
  }
  
  @font-face {
    font-family: loraI;
    src: url(/css/Lora/Lora-Italic.ttf);
  }
  @font-face {
    font-family: loraB;
    src: url(/css/Lora/Lora-Bold.ttf);
  }
  @font-face {
    font-family: loraBI;
    src: url(/css/Lora/Lora-SemiBoldItalic.ttf);
  }
  @font-face {
    font-family: loraR;
    src: url(/css/Lora/Lora-Regular.ttf);
  }
  @font-face {
    font-family: loraM;
    src: url(/css/Lora/Lora-Medium.ttf);
  }
  
  @font-face {
    font-family: mac;
    src: url(/css/Marshmallow/Marshmallows\ and\ Chocolate\ -\ TTF.ttf);
  }
  
  #topBorder {
    height: 3%;
    background-color: #232834;
    background-color: #242424;
    border-bottom: 4%;
  }

  header {
    height: 32%;
    width: 50%;
    margin-left: 25%;
    /*
    width: 70%;
    margin-left: 15%;
    background-color: #1B5BB3;
    */
    background-color: #1B5BB3;
    opacity: 1;
    align-items: center;
    justify-content: space-evenly;
  }

  #headBorder {
    height: 10%;
    background-color: bisque;
    background-color: #242424;
  }
  
  nav {
    padding: 0.5%;
    width: 100%;
    padding-bottom: 0.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav a {
    /*font-size: 180%;*/
    font-size: 32px;
    text-decoration: none;
    padding: 0.4% 5.9%;
    text-align: center;
    background-color: #232834;
    color: #1F6CD5;
    border-radius: 4px;
  }

  nav a:hover, nav a:active {
    background-color: #1F6CD5;
    color: #232834;
  }

  main {
    width: 100%;
    height: 80%;
    background-color: #444444;
  }

  #mainContent {
    width: 70%;
    margin-left: 15%;
    height: 100%;
    background-color: #333333;
  }
  
  #botBorder {
    height: 0.5%;
    background-color: #aaaaaa;
  }

  footer {
    width: 100%;
    height: 60%;
    background-color: #111111;
  }












